    .wapper-aside{
        position: fixed;
        width: 10px;
        height: 99%;
        display: grid;
        align-items: center;
        z-index: 100;
    }

    .wapper-aside:hover .sidebar{
        transform: translateX(0);
    }

    .sidebar{
      z-index: 101;
        position: absolute;
        background-color: white;
        width: max-content;
        border-radius: 10px;
        padding:  2rem 1rem;
        transform: translateX(-90%);
        transition: transform .3s ease;
    }

    .sidebar:hover .sidebar_element{
        grid-template-columns: 40px 1fr;
    }

    .sidebar_list{
        list-style: none;
        padding: 0;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        justify-content: center;
    }

    .sidebar_list a{
      text-decoration: none;
    }

    .sidebar_element{
        padding: .8rem 1.3rem;
        border-radius: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 40px 0fr;
        color: #526581;

        transition:  grid-template-columns .5s;
    }

    .sidebar_element:hover{
        background-color: #e3b707;
        color: #fff;
        cursor: pointer;
    }

    .sidebar_element a{
      text-decoration: none;
      color: #526581;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .sidebar_element a:hover{
      color: #fff;
    }

    .sidebar_icon{
        width: 100%;
        overflow: hidden;
        justify-self: center;
    }

    .sidebar_text{
        padding-left: 1.3rem;
        text-wrap: nowrap;
        font-size: 1.1rem;
    }

    .sidebar_hide{
        overflow: hidden;
    }